
html {
    height:100%; 
    overflow:auto; /* triggers 100% height in Opera 9.5 */
    overflow-y:scroll; /* creates a horizontal scrollbar, for a more consistent look & feel */
    }
    
body {  
    min-width: fit-content;
    background-color: #F6F4C9;
    height:100%; /* helps make height 100% */
    font:100%/1.5 Arial, Helvetica, sans-serif; /* 100% = 16px, 93.75% = 15px, 87.5% = 14px, 81.25% = 13px, 75% = 12px - font-size in % prevents IE's resize bug */
    background:#F6F4C9;
    }